body{
    margin: 0;
    padding: 0;
    height: 100vh;
   }

.main{
   height: 100%;
    background: url(./images/bg-mobile.png) top left no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-content: center;
}

.content{
    padding: 2rem 1.5rem; 
    max-width: 400px;
   
}

.icons{
    border-radius: 3%;
    border-top-right-radius:40% ;
    background:  hsl(228, 56%, 26%);
    padding: 4rem;
}

.logo{
    margin-bottom: 2rem;
}

.file{
    width: 10rem;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap:.5rem ;

}

.file>img{
  height: 1.3rem;
  padding: 1rem;
  background: hsl(229, 57%, 11%);
  border-radius: 20%;
}

.bar-box{
    margin-top: 2rem;
    padding: 3rem;
    background:  hsl(228, 56%, 26%);
    color: white;
    text-align: center;   
    font-size: 15px;
    border-radius: 0.5rem;
}

.bar{
    margin: 1rem 0;
    height: 1.4rem;
    border-radius: 1rem;
    background: hsl(229, 57%, 11%);
    
}

.color{
    height: 1rem;
    width: 70%;
    text-align: end;
    color: hsl(243, 100%, 93%);
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border: 3px solid hsl(229, 57%, 11%);
    border-radius: 1rem;
}

.circle{
    position: relative;
    top: -9px;
    font-size: 30px;
}

.total{
  display: flex;
  justify-content: space-between;
}

.free{
    margin: auto;
    width: 40%;
    padding: 1rem ;
    display: flex;
    align-items: center;
    text-align: center;   
    background: white;
    border-radius: 0.5rem;
    color:  hsl(229, 7%, 55%);
    position: relative;
    top: -2rem;
}

.free b{
    font-size: 2rem;
    color: black;
}
@media screen and (min-width:1000px) {

.main{
    height: 100vh;
    background: url(./images/bg-desktop.png) 90% 100%  no-repeat; 
    background-size:contain;
    background-color:hsl(229, 57%, 11%);
    display: grid;
    justify-content: center;
    align-content: center;
}

.content{
    padding: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1.5rem;
    max-width: 100vw;
   
}
.icons{
    height: 7rem;
    width:17vw;
    position: relative;
    top: -2rem;
    left: 3rem;
}

.bar-box{
    height: 5rem;
    width: 40vw;
    position: relative;
   left: 3rem;
    
    
}
.free{
    width: 8rem;
    position: relative;
    top: -6rem;
    left: -12rem;
}
.free::after{
    content: " ";
    border-top:20px solid transparent;
    border-right:20px solid white ;
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
    position: absolute;
    top:3rem;
    left: 7.5rem;
}

}
